-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: khaservice_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `table_contact`
--

DROP TABLE IF EXISTS `table_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_contact` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten` varchar(100) DEFAULT NULL,
  `dienthoai` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `diachi` varchar(255) DEFAULT NULL,
  `tieude` varchar(255) DEFAULT NULL,
  `noidung` text DEFAULT NULL,
  `ngaytao` int(11) DEFAULT NULL,
  `trangthai` tinyint(1) DEFAULT 0 COMMENT '0: Moi, 1: Da xem',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_contact`
--

LOCK TABLES `table_contact` WRITE;
/*!40000 ALTER TABLE `table_contact` DISABLE KEYS */;
INSERT INTO `table_contact` VALUES (1,'Cao Minh Thß║»ng','+84376701749','thangminhcaoss@gmail.com',NULL,NULL,'Tuyß╗ân dß╗Ñng vß╗ï tr├¡ iT',1766733026,0);
/*!40000 ALTER TABLE `table_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_dichvu`
--

DROP TABLE IF EXISTS `table_dichvu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_dichvu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `noibat` tinyint(1) DEFAULT 0,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_dichvu`
--

LOCK TABLES `table_dichvu` WRITE;
/*!40000 ALTER TABLE `table_dichvu` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_dichvu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_duan`
--

DROP TABLE IF EXISTS `table_duan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_duan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_khuvuc` int(11) DEFAULT 0,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `rating` int(11) DEFAULT 5,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `noibat` tinyint(1) DEFAULT 0,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `title` text DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `luotxem` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_duan`
--

LOCK TABLES `table_duan` WRITE;
/*!40000 ALTER TABLE `table_duan` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_duan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_dulieu`
--

DROP TABLE IF EXISTS `table_dulieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_dulieu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_cat` int(11) DEFAULT 0,
  `ten_vi` varchar(255) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_dulieu`
--

LOCK TABLES `table_dulieu` WRITE;
/*!40000 ALTER TABLE `table_dulieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_dulieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_feedback`
--

DROP TABLE IF EXISTS `table_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_feedback` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `chucvu` varchar(255) DEFAULT NULL,
  `mota_vi` varchar(255) DEFAULT NULL COMMENT 'Ti├¬u ─æß╗ü feedback',
  `noidung_vi` text DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `rating` int(11) DEFAULT 5,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_feedback`
--

LOCK TABLES `table_feedback` WRITE;
/*!40000 ALTER TABLE `table_feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_giatri`
--

DROP TABLE IF EXISTS `table_giatri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_giatri` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_giatri`
--

LOCK TABLES `table_giatri` WRITE;
/*!40000 ALTER TABLE `table_giatri` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_giatri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_gioithieu`
--

DROP TABLE IF EXISTS `table_gioithieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_gioithieu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` text DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` int(1) DEFAULT 1,
  `noibat` tinyint(1) DEFAULT 0,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_gioithieu`
--

LOCK TABLES `table_gioithieu` WRITE;
/*!40000 ALTER TABLE `table_gioithieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_gioithieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_khuvuc`
--

DROP TABLE IF EXISTS `table_khuvuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_khuvuc` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `noidung_vi` text DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_khuvuc`
--

LOCK TABLES `table_khuvuc` WRITE;
/*!40000 ALTER TABLE `table_khuvuc` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_khuvuc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_news`
--

DROP TABLE IF EXISTS `table_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_news` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_cat` int(11) DEFAULT 0,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `thumb` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `noibat` tinyint(1) DEFAULT 0,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `luotxem` int(11) DEFAULT 0,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_news`
--

LOCK TABLES `table_news` WRITE;
/*!40000 ALTER TABLE `table_news` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_news_cat`
--

DROP TABLE IF EXISTS `table_news_cat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_news_cat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_news_cat`
--

LOCK TABLES `table_news_cat` WRITE;
/*!40000 ALTER TABLE `table_news_cat` DISABLE KEYS */;
INSERT INTO `table_news_cat` VALUES (1,'Tin c├┤ng ty','tin-cong-ty','tin-tuc',1,1),(2,'Tin trong ng├ánh','tin-trong-nganh','tin-tuc',2,1),(3,'Kiß║┐n thß╗⌐c phong thß╗ºy','kien-thuc-phong-thuy','tin-tuc',3,1),(4,'Kiß║┐n thß╗⌐c ─æß╗¥i sß╗æng','kien-thuc-doi-song','tin-tuc',4,1),(5,'TEAM BUILDING 2024',NULL,'thuvien-anh',2,1),(6,'TEAM BUILDING 2025',NULL,'thuvien-anh',1,1);
/*!40000 ALTER TABLE `table_news_cat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_news_temp`
--

DROP TABLE IF EXISTS `table_news_temp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_news_temp` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_cat` int(11) DEFAULT 0,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `thumb` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `chucvu` varchar(100) DEFAULT NULL,
  `rating` int(11) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `noibat` tinyint(1) DEFAULT 0,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `luotxem` int(11) DEFAULT 0,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_news_temp`
--

LOCK TABLES `table_news_temp` WRITE;
/*!40000 ALTER TABLE `table_news_temp` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_news_temp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_newsletter`
--

DROP TABLE IF EXISTS `table_newsletter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_newsletter` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `ngaytao` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_newsletter`
--

LOCK TABLES `table_newsletter` WRITE;
/*!40000 ALTER TABLE `table_newsletter` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_newsletter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_photo`
--

DROP TABLE IF EXISTS `table_photo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_photo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `link` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `thumb` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_photo`
--

LOCK TABLES `table_photo` WRITE;
/*!40000 ALTER TABLE `table_photo` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_photo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_setting`
--

DROP TABLE IF EXISTS `table_setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_setting` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `diachi_vi` varchar(255) DEFAULT NULL,
  `dienthoai` varchar(50) DEFAULT NULL,
  `hotline` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `website` varchar(100) DEFAULT NULL,
  `fanpage` varchar(255) DEFAULT NULL,
  `youtube` varchar(255) DEFAULT NULL,
  `google_map` text DEFAULT NULL,
  `video_intro` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `logoRectangle` varchar(255) DEFAULT NULL,
  `longName` varchar(255) DEFAULT NULL,
  `nationalName` varchar(255) DEFAULT NULL,
  `shortName` varchar(255) DEFAULT NULL,
  `taxCode` varchar(50) DEFAULT NULL,
  `tiktok` varchar(255) DEFAULT NULL,
  `youtubeInfo` varchar(255) DEFAULT NULL,
  `updated_at` varchar(200) DEFAULT NULL,
  `email2` varchar(255) DEFAULT NULL,
  `hotline2` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_setting`
--

LOCK TABLES `table_setting` WRITE;
/*!40000 ALTER TABLE `table_setting` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_staff`
--

DROP TABLE IF EXISTS `table_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_staff` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `chucvu` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_staff`
--

LOCK TABLES `table_staff` WRITE;
/*!40000 ALTER TABLE `table_staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_static`
--

DROP TABLE IF EXISTS `table_static`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_static` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `video` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `sl_nhanvien` int(11) DEFAULT 0,
  `sl_duan` int(11) DEFAULT 0,
  `sl_canho` int(11) DEFAULT 0,
  `tamnhin` text DEFAULT NULL,
  `sumenh` text DEFAULT NULL,
  `sl_khachhang` int(11) DEFAULT 0,
  `sl_giaithuong` int(11) DEFAULT 0,
  `sl_doitac` int(11) DEFAULT 0,
  `mota_solieu` text DEFAULT NULL,
  `mota_doitac` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_static`
--

LOCK TABLES `table_static` WRITE;
/*!40000 ALTER TABLE `table_static` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_static` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_themanh`
--

DROP TABLE IF EXISTS `table_themanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_themanh` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_themanh`
--

LOCK TABLES `table_themanh` WRITE;
/*!40000 ALTER TABLE `table_themanh` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_themanh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_thuvien`
--

DROP TABLE IF EXISTS `table_thuvien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_thuvien` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_cat` int(11) DEFAULT 0,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `thumb` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` longtext DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  `noibat` tinyint(1) DEFAULT 0,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `luotxem` int(11) DEFAULT 0,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_thuvien`
--

LOCK TABLES `table_thuvien` WRITE;
/*!40000 ALTER TABLE `table_thuvien` DISABLE KEYS */;
INSERT INTO `table_thuvien` VALUES (1,0,'TEAM BUILDING 2024 qu├í ─æ├ú ','team-building-2024-qua-da','upload/thuvien/297685109681.PNG',NULL,'TEAM BUILDING 2024 qu├í ─æ├ú qu├í trß╗¥i lu├┤n rß╗ôi','',1,1,1,1766733801,1766733833,0,'','','');
/*!40000 ALTER TABLE `table_thuvien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_thuvien_photo`
--

DROP TABLE IF EXISTS `table_thuvien_photo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_thuvien_photo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_main` int(11) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_thuvien_photo`
--

LOCK TABLES `table_thuvien_photo` WRITE;
/*!40000 ALTER TABLE `table_thuvien_photo` DISABLE KEYS */;
INSERT INTO `table_thuvien_photo` VALUES (1,1,'upload/thuvien/297268745446_0.JPG',1,1),(2,1,'upload/thuvien/533212086547_1.JPG',1,1),(3,1,'upload/thuvien/786624694234_2.JPG',1,1),(4,1,'upload/thuvien/878834282712_3.JPG',1,1),(5,1,'upload/thuvien/250932025431_4.JPG',1,1);
/*!40000 ALTER TABLE `table_thuvien_photo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_tinhtrang`
--

DROP TABLE IF EXISTS `table_tinhtrang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_tinhtrang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trangthai` varchar(255) DEFAULT NULL,
  `trangthai1` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_tinhtrang`
--

LOCK TABLES `table_tinhtrang` WRITE;
/*!40000 ALTER TABLE `table_tinhtrang` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_tinhtrang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_tuyendung`
--

DROP TABLE IF EXISTS `table_tuyendung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_tuyendung` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_vi` varchar(255) DEFAULT NULL,
  `ten_khong_dau` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `mota_vi` text DEFAULT NULL,
  `noidung_vi` text DEFAULT NULL,
  `stt` int(11) DEFAULT 1,
  `hienthi` int(1) DEFAULT 1,
  `ngaytao` int(11) DEFAULT NULL,
  `ngaysua` int(11) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_tuyendung`
--

LOCK TABLES `table_tuyendung` WRITE;
/*!40000 ALTER TABLE `table_tuyendung` DISABLE KEYS */;
/*!40000 ALTER TABLE `table_tuyendung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_user`
--

DROP TABLE IF EXISTS `table_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `table_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(100) NOT NULL,
  `ten` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` int(11) DEFAULT 1,
  `stt` int(11) DEFAULT 1,
  `hienthi` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_user`
--

LOCK TABLES `table_user` WRITE;
/*!40000 ALTER TABLE `table_user` DISABLE KEYS */;
INSERT INTO `table_user` VALUES (1,'admin','e10adc3949ba59abbe56e057f20f883e','Administrator','admin@khaservice.com',3,1,1);
/*!40000 ALTER TABLE `table_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-27 22:58:35
